build/
*.dll
*.lib
*.exp
*.pdb
*.obj
*.ilk
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
.vs/
*.vcxproj.user
*.suo
out/
__pycache__/
*.pyc
*.pyo
*.autosave
*.nk~
Thumbs.db
.DS_Store
.idea/
.vscode/
